* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  background-image: url('./images/DragonPlus.jpg');
  background-size: cover;
}

body {
  font-family: 'Abril Fatface', cursive;
}

a {
  text-decoration: none;
  color: #5a5a5a;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-bottom: 30px;
}

nav div {
  border-style: solid;
  border-radius: 12px;
  padding: 5px;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  margin: 0px;
  text-shadow: 3px 3px black;
  color: red;
  text-align: center;
  font-size: 45px;
}

.tools {
  background-color: #e7e7db;
  color: #5a5a5a;
  font-size: 20px;
}

.components {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.container {
  border-style: solid;
  border-spacing: 5px;
  background-color: #e7e7db;
  min-width: 300px;
  padding: 5px;
}

button {
  font-size: 15px;
  padding: 3px;
  background-color: white;
}

#mapContainer {
  height: 660px;
  width: 1020px;
}
