* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Abril Fatface', cursive;
}

a {
  text-decoration: none;
  color: #5a5a5a;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e7e7db;
}

nav div {
  border-style: solid;
  border-radius: 12px;
  padding: 5px;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  margin: 0px;
  padding: 10px;
  color: red;
  background-color: black;
  text-align: center;
}

.tools {
  background-color: #e7e7db;
  color: #5a5a5a;
}
